
.header ul{
    display: flex;
    justify-content: space-around;
}
.header ul li {
    list-style-type: none;
    display: inline-block;
}
.header ul li a {
    text-decoration: none;
    color: #000;
}
.content {
    display: flex;
    flex-flow: wrap;
}
.img-item, .img-shows {
    width: 200px;
}
[class^=item] {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
    width: 200px;
}
[class^=name] {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}
[class^=title] p {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}
.heading {
    text-align: center;
}
.option-item {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding-left: 8px;
}
.price {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
[class^=shows] {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
    width: 200px;
}
.img-places {
    width: 200px;
}
.shows-discript p {
    display: inline-block;
    margin-right: 30px;
}
.free {
    background: #fff;
}
.red {
    background: #ff0000;
}
.green {
    background: #008000;
}
[class^=row] {
    display: inline-block;
}
[class^=element] {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.img-height {
    height: 380px;
}